body {
  background-color: #b13068;
  background-image: radial-gradient(at 0 bottom,rgba(165, 57, 111, 0.7) 0,rgba(0, 54, 137, 0) 60%),radial-gradient(at 90% bottom,#9b1c6a 0,rgba(0, 99, 137, 0) 40%),radial-gradient(at 50% top,rgba(137, 0, 98, 0.6) 0,rgba(0, 111, 137, 0) 75%),radial-gradient(at right top,#004D89 0,rgba(0, 77, 137, 0) 57%);
  background-repeat: no-repeat;
  background-size: auto,auto,100% 1000px,100% 1000px;
  color: #B5D9EC;
}